/* Global */

:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-pink: #fe918d;
  --color-dark-pink: #ff6863;
  --color-dark-grey: #4d4d4d;
  --color-grey: #616161;
  --color-light-grey: #7c7979;
  --color-blue: #73aace;
  --color-yellow: #fff7d1;
  --color-orange: #feb546;
  --color-black: #000000;
  --color-primary: #eceff1;
  --color-light: #ffffff;
  --color-dark: #babdbe;

  /* Font size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Size */
  --size-border-radious: 4px;

  /* Animation duration */
  --animation-duration: 300ms;


}
/* universal Tag */
* {
  box-sizing: border-box;
}
body {
  margin: 0px;
  font-family: 'Open Sans', sans-serif;
  cursor: default;
}

a {
  text-decoration: none;
  color: var(--color-white)
}

ul {
  padding-left: 0px;
}
li {
  list-style: none;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}



/* Typography */

h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 16px 0px;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 8px 0;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 8px 0;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 4px 0;
}

/* Navbar */
#navbar {
  position: fixed;
  width: 100%;

  display: flex;
  justify-content: space-between;
  /* background-color: #0f0f0f; */
  background-color: transparent;
  align-items: center;
  color: var(--color-white);
  padding: 16px;
}

#navbar.navbar--dark { 
  background-color: #0f0f0f;
  padding: 4px;
  transition: all var(--animation-duration) ease-in-out;
  z-index: 1;
}

.navbar__menu {
  display: flex;

}

.navbar__logo {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
}
.navbar__menu__item {
  padding: 8px 12px;
  margin: 0 4px;
  cursor: pointer;
  border-radius: var(--size-border-radious);
  line-height: 44px;
}


.navbar__menu__item:hover {
  background-color:var(--color-primary);
}


/* Home */

#home {
  /* background-color: var(--color-primary); */
  background: url(./images/background-guitar.png) center/cover no-repeat; 
  padding: 40px;
  text-align: center;
  padding: 120px 0;
}

.home__pic {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 2px solid var(--color-white);
}

.home__title,
.home__description {
  color: var(--color-white);
}

.home__contact {
  color: var(--color-white);
  font-size: var(--font-regular);
  font-weight: var(--weight-bold);
  margin: 24px;
  padding: 8px 12px;
  border: 2px solid var(--color-white);
  border-radius: 4px;
} 

/* Section common */

.section {
  padding: 50px;
  text-align: center;
  margin: auto;
}

.section__container {
  max-width: 1200px;
  margin: auto;
}

/* About */

.about__majors {
  display: flex;
  justify-content: space-between;
  margin: 80px 0;

}

.major__icon {
  width: 170px;
  height: 170px;
  line-height: 170px;
  font-size: 70px;
  color: var(--color-blue);
  border: 1px solid var(--color-blue);
  border-radius: 50%;
  margin-bottom: 16px;
}
.major__icon:hover i{
  color: var(--color-pink);
  transform: rotate(10deg) scale(1.1);
}
.major__icon i {
  transition: all var(--animation-duration) ease;
}

.major__title, .major__description {
  color: var(--color-dark-grey);
}

.major__description {
  font-size: var(--font-small);
}

/* .job {
  display: flex;
  align-items: center;

}

.job__description {
  margin: 0 16px;
  text-align: left;
}

.job__name, .job__term {
  color: var(--color-light-grey);
}
.job__name {
  font-size: var(--font-micro);
} */

/* Skills */
#skills {
  background-color: var(--color-primary);
}
.skillset {
  display: flex;
  background-color: var(--color-light-grey);
  color: var(--color-light-white);
  padding: 0;
  margin-top: 20px;
}

.skillset__left {
  flex-basis: 60%;
  background-color: var(--color-dark-grey);
  padding: 20px 40px;
}

.skillset__title {
  color: var(--color-white);
}
.skillset__right {
  flex-basis: 40%;

}

.skill__description {
  display: flex;
  justify-content: space-between;

}

.skill__bar {
  width: 100%;
  height: 3px;
  background-color: var(--color-grey);
  margin-bottom: 36px;
}

.skill__value {
  width: 100%;
  height: 3px;
  background-color: var(--color-orange);
}

.tools {
  background-color: var(--color-grey);
}

.tools, .etc {
  padding: 20px;
}

/* Work */
.work__categories {
  margin: 40px;
}
.category__btn {
  border: 1px solid var(--color-dark-white);
  border-radius:  var(--size-border-radious);
  font-size: var(--font-regular);
  padding: 8px 48px;

}
.category__btn.active,
.category__btn:hover {
  background-color: #0f0f0f;
  color: var(--color-white);
}
.category__btn.active .category__num,
.category__btn:hover .category__num {
  opacity: 1;
  top: 0;
  z-index: 1;
}
.category__num {
  background-color: var(--color-primary);
  border: 1px soild var(--color-primary);
  border-radius: 50%;
  color: var(--color-white);
  width: 24px;
  height: 24px;
  display: inline-block;
  line-height: 24px;
  position: relative;
  top: -20px;
  left: 4px;
  opacity: 0;
  transition: all var(--animation-duration) ease;
}

.work__projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  opacity: 1;
  transition: all var(--animation-duration) ease-out;
}

.work__projects.animation-out {
  opacity: 0; 
  transform: scale(0.9) translateY(40px);
}

.project {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 280px;
  height: 250px;
  margin: 2px;
  background-color: var(--color-light-white);
}

.project.invisible {
  display: none;
}
.project__img {
  max-width: 100%;
  max-height: 100%;
}

.project__description {
  position: absolute;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transform: translateY(10px);
  transition: all var(--animation-duration) ease-in;

}

/* projectㅇㅔ hover 했을때 description 을 */
.project:hover .project__description {
  opacity: 0.8;
  transform: translateY(0px);
}


.project__description h3 {
  color: var(--color-orange);
}

.project__description h3:after {
  content: '';
  position: relative;
  display: block;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 8px;
  width: 50px;
  height: 2px;
  background-color: var(--color-dark-white);
}


/* Testimonial */
#testimonial {
  background-color: var(--color-light-white);

}

.testimonials {
  margin: 40px;
  
}

.testimonial {
  display: flex;
  margin: 32px 0;
}

.testimonial__face {
  width: 150px;
  height: 150px;
  border-radius: 50%; 
}

.testimonial__face:nth-child(odd) {
  margin-right: 40px;
}
.testimonial__face:nth-child(even) {
  margin-left: 40px;
}



.testmonial__speech-bubble {
  padding: 18px;
  background-color: var(--color-white);
  border-radius: var(--size-border-radious);

}

.testmonial__speech-bubble p {
  color: var(--color-light-grey);
}

.testmonial__speech-bubble a {
  color: var(--color-dark-pink);
}

#contact {
  background-color: #0f0f0f;

}

.contact__title,
.contact__email,
.contact__rights {
  color: var(--color-white);
}

.contact__title {
  margin: 32px;
}

.contact__links {
  font-size: var(--font-large);
  margin: 24px 0;
}

.contact__links i:hover {
  transform: scale(1.1);
  color: var(--color-yellow);
  transition: all var(--animation-duration) ease-in;

}

.navbar__toggle_btn {
  color: var(--color-white);
  position: absolute;
  right: 12px;
  font-size: 24px;
  top: 8px;
  display: none;
  /* opacity 는 클릭이 됨** */
}

/* For below 768 screen width */
@media screen and (max-width: 768px) {
  .navbar__toggle_btn {
    display: block;
  }

  #navbar {
    flex-direction: column;
    align-items: flex-start;
    background-color: #0f0f0f;

  }
  /* #navbar.navbar--dark {
    padding: 16px;
  } */
  .navbar__menu {
    flex-direction: column;
    text-align: center;
    width: 100%;
    display: none;
  }

  .navbar__menu.open {
    display: block;
  }

  .about__majors {
    flex-direction: column;
  }

  .major {
    margin-bottom: 38px;
  }
  .major__icon {
    margin: auto;
  }
  .skillset {
    flex-direction: column;
  }
  .project {
    flex-grow: 1;
  }
  .testimonial__face {
    width: 80px;
    height: 80px;
  }
}

.fa-arrow-circle-up {
  /* position: absolute; */
  position: fixed;
  bottom: 16px;
  right: 16px;
  color: var(--color-dark-grey);
  font-size: 48px;
  /* opacity: 0; */
  cursor: pointer;
  display: none;
  /* cursor: none; */
  /* or use pointer-events: none */
} 

